:root {
  --background: oklch(1.00 0 0);
  --foreground: oklch(0.14 0 0);
  --card: oklch(1.00 0 0);
  --card-foreground: oklch(0.14 0 0);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.14 0 0);
  --primary: oklch(0.20 0 0);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.20 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.56 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.20 0 0);
  --destructive: oklch(0.58 0.24 28.48);
  --border: oklch(0.92 0 0);
  --input: oklch(0.92 0 0);
  --ring: oklch(0.71 0 0);
  --chart-1: oklch(0.65 0.22 36.85);
  --chart-2: oklch(0.60 0.11 184.15);
  --chart-3: oklch(0.40 0.07 227.18);
  --chart-4: oklch(0.83 0.17 81.03);
  --chart-5: oklch(0.77 0.17 65.36);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.14 0 0);
  --sidebar-primary: oklch(0.20 0 0);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.20 0 0);
  --sidebar-border: oklch(0.92 0 0);
  --sidebar-ring: oklch(0.708 0 0);;

  --font-sans: Delius Swash Caps, serif;
  --font-serif: Gabriela, Geist Fallback;
  --font-mono: Delius Swash Caps, serif;

  --radius: 1.5rem;
  
  --shadow-2xs: 0 1px 4.5px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0 1px 4.5px 0px oklch(0 0 0 / 0.05);
  --shadow-sm: 0 1px 4.5px 0px oklch(0 0 0 / 0.10), 0 1px 2px -1px oklch(0 0 0 / 0.10);
  --shadow: 0 1px 4.5px 0px oklch(0 0 0 / 0.10), 0 1px 2px -1px oklch(0 0 0 / 0.10);
  --shadow-md: 0 1px 4.5px 0px oklch(0 0 0 / 0.10), 0 2px 4px -1px oklch(0 0 0 / 0.10);
  --shadow-lg: 0 1px 4.5px 0px oklch(0 0 0 / 0.10), 0 4px 6px -1px oklch(0 0 0 / 0.10);
  --shadow-xl: 0 1px 4.5px 0px oklch(0 0 0 / 0.10), 0 8px 10px -1px oklch(0 0 0 / 0.10);
  --shadow-2xl: 0 1px 4.5px 0px oklch(0 0 0 / 0.25);
  
}

.dark {
  --background: oklch(0.14 0 0);
  --foreground: oklch(0.99 0 0);
  --card: oklch(0.20 0 0);
  --card-foreground: oklch(0.99 0 0);
  --popover: oklch(0.20 0 0);
  --popover-foreground: oklch(0.99 0 0);
  --primary: oklch(0.92 0 0);
  --primary-foreground: oklch(0.20 0 0);
  --secondary: oklch(0.27 0 0);
  --secondary-foreground: oklch(0.99 0 0);
  --muted: oklch(0.27 0 0);
  --muted-foreground: oklch(0.71 0 0);
  --accent: oklch(0.27 0 0);
  --accent-foreground: oklch(0.99 0 0);
  --destructive: oklch(0.70 0.19 22.23);
  --border: oklch(1.00 0 0 / 10%);
  --input: oklch(1.00 0 0 / 15%);
  --ring: oklch(0.56 0 0);
  --chart-1: oklch(0.49 0.24 264.40);
  --chart-2: oklch(0.70 0.16 160.43);
  --chart-3: oklch(0.77 0.17 65.36);
  --chart-4: oklch(0.62 0.26 305.32);
  --chart-5: oklch(0.64 0.25 16.51);
  --sidebar: oklch(0.20 0 0);
  --sidebar-foreground: oklch(0.99 0 0);
  --sidebar-primary: oklch(0.49 0.24 264.40);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.27 0 0);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(1.00 0 0 / 10%);
  --sidebar-ring: oklch(0.56 0 0);
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
